<html>
  <style>
    body { 
      font-size: 15pt;
      font-family: arial;
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: left;
    }

    table tr:nth-child(even) {
      background-color: #eee;
    }

    table tr:nth-child(odd) {
      background-color:#fff;
    }
    
    table th  {
      background-color: black;
      color: white;
    }
    
  </style>


<body>
  <h1>Portfolio {{portfolio['pid']}} : {{portfolio['name']}}</h1>

  <div>
    <table>
    <tr>
      <th>Stock</th>
      <th>Company</th>
      <th>Quantity</th>
      <th>Market Price</th>
    </tr>
    {% for stock in stocks %}
      <tr>
        <td><a href="/stock/{{stock['ticker']}}/"}}>{{stock['ticker']}}</a></td>
        <td>{{stock['company_name']}}</td>
        <td>{{stock['quantity']}}</td>
        <td>{{stock['market_price']}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div>
    {% for error in errors %}
      <h1 style="color:red"> {{error}} </h1>
    {% endfor %}

  </div>
  

  <div>
    <form action="" method="post">
      <input type="radio" name="order" value="BUY" checked>Buy
      <input type="radio" name="order" value="SELL">Sell
      <br>
      Username:<br>
      <input type="text" name="username">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br>
      Stock Ticker:<br>
      <input type="text" name="ticker">
      <br>
      Quantity:<br>
      <input type="number" name="quantity">
      <br>
      Price: <br>
      <input type="radio" name="price" value="market" checked>Market Price
      <br>
      <input type="radio" name="price" value="custom">Custom Price
      <br>
      Enter custom price: 
      <input type="number" name="cprice">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>


</html>
